body {
  margin: 0;

  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #333333;
}

.header-advantages__title {
  font-weight: bold;
  font-size: 26px;
  line-height: 26px;
  color: #000000;
}

.advantage__title {
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
}

.wrapper {
  position: relative;

  width: 1200px;
  margin: 0 auto;

  outline: 1px solid rgb(244, 88, 165);
}

.logo {
  position: absolute;
  left: 50%;

  outline: 1px solid rgb(48, 147, 8);
  transform: translateX(-50%);
}

.navigation {
  outline: 1px solid rgb(46, 217, 235);
}

.navigation__list {
  margin: 0;
  padding: 0;

  list-style: none;
  font-size: 0;
}

.navigation__item {
  display: inline-block;
  width: 240px;

  font-size: 14px;
  vertical-align: top;
  text-decoration: none;

  outline: 1px solid rgb(119, 109, 143);
}

.navigation__item:nth-child(2) {
  margin-right: 240px;
}

.promo {
  height: 508px;

  background-color: rgb(41, 5, 16);
}

.promo__picture {
  display: block;
  margin: 0 auto;
  padding-top: 70px;
}

.header-advantages {
  padding: 30px;

  outline: 1px solid rgb(80, 24, 159);
}

.advantages__row {
  font-size: 0;

  outline: 1px solid rgb(125, 224, 250);
}

.advantages__row--blue {
  height: 256px;
}

.advantage {
  display: inline-block;
  width: 400px;

  font-size: 14px;
  vertical-align: top;

  outline: 1px solid rgb(109, 139, 224);
}

.advantage--picture {
  width: 800px;

  outline: 1px solid rgb(188, 196, 11);
}

.advantage__picture {
  display: block;
}

.booking {
  width: 576px;
  margin: 0 auto;

  outline: 1px solid rgb(188, 254, 247);
}

.booking__btn {
  width: 568px;
  height: 86px;
}

.map-container {
  position: relative;
}

.map {
  outline: 1px solid rgb(97, 44, 9);
}

.form {
  position: absolute;
  top: 0;
  left: 50%;

  width: 568px;

  background-color: rgb(83, 172, 149);
  outline: 1px solid rgb(37, 91, 93);
  transform: translateX(-50%);
}

.page-footer {
  width: 1200px;

  font-size: 0;
}

.page-footer--index-page {
  position: absolute;
  bottom: 0;
  left: 0;

  background-color: rgba(255, 0, 0, 0.3);
}

.page-footer > * {
  display: inline-block;
  width: 400px;

  font-size: 14px;
  vertical-align: top;

  outline: 1px solid rgb(100, 181, 156);
}

.filters {
  outline: 1px solid rgb(153, 46, 124);
}

.filters__column {
  float: left;
  width: 290px;

  border: none;
  outline: 1px dashed rgb(128, 19, 5);
}

.filters__column--prices {
  float: right;
}

.results__filters {
  outline: 1px solid rgb(179, 113, 89);
}

.results__filters > * {
  float: left;

  outline: 1px dashed rgb(1, 14, 215);
}

.results__quantity {
  width: 180px;
}

.results__list {
  width: 350px;
  margin: 0;
  padding: 0;

  list-style: none;
  font-size: 0;
}

.results__list > li {
  display: inline-block;
  padding-left: 5px;

  font-size: 14px;
  vertical-align: top;
}

.results__arrows {
  float: right;
  width: 350px;
}

.hotel {
  width: 1200px;

  outline: 1px solid rgb(194, 95, 203);
}

.hotel > * {
  float: left;

  outline: 1px dashed rgb(145, 156, 96);
}

.hotel__picture {
  width: 200px;
}

.hotel__description {
  width: 390px;
}

.hotel__rating {
  float: right;
  width: 300px;
}

.clearfix::after {
  content: "";

  display: table;
  clear: both;
}
